{% extends "index.html" %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/wordSearch.js') }}"></script>
    <title>Results</title>
{% endblock head %}

{% block content %}
    {% if my_sents %}
        <h2>Results</h2>
        <ul>
            {% for i in range(my_sents|length) %}
                <li>
                    <p>My Sentence: {{ my_sents[i] }}</p>
                    <p>My File: {{ my_files[i] }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found</p>
    {% endif %}
{% endblock content %}
